<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
